
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
	background-color: #145A32;
	color: white;
    /*height: 60px;*/
	padding: 15px;
	margin-bottom: 25px;
	padding-bottom: 15px;
	font-size: 25px;

	font-family: 'Pacifico', cursive;
}

#root {
    max-width: 950px;
    min-width: 740px;
	width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    display: flex;
    flex-flow: column wrap;
    font-weight: bold;
    text-align: center;
    font-family: 'Arial';
}
#root > * {
	flex: 1 0;
}
.Logo {
	width: fit-content;
	
}
.question_card {
	padding: 20px;
	height: 200px;
	display: flex;
	flex-flow: column wrap;
	align-items: flex-start;
	justify-content: space-between;
	align-content: space-around;
    background-color: #EAFAF1;

}
.question_card > * {
	flex: 0 1 0;

}
.question_image {
	flex: 1 1 100%;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;


}
.question_image > img{
	width: auto;
	height: 300px;
	max-width: 100%;
}

.user_card {
	text-align: right;
	min-width: 150px;
	width: fit-content;
	font-size: 10px;
	font-style: italic;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #145A32;
	/*background-color: #7DCEA0;*/
	background-image: linear-gradient(to right, rgba(255,0,0,0), #7DCEA0);
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	/*border-top-right-radius: 15px;*/
	/*border-bottom-right-radius: 15px;*/

	margin-top: 10px;
}

.user_card > img {
	margin: 5px;
	width: 40px;
	height: 40px;
	border-radius: 25px;
}

.user_card > .info {
	align-self: flex-start;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
}
.user_card > .info > b {
	font-style: normal;
	font-size: 15px;
}

.question {
	font-size: 20px;
	max-width: 40%;
}

.answer {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}
.answer > * {
	flex: 1 1 0;
}
.answer > input[type=text] {
	border: 1px solid #ccc;
    border-radius: 4px;
    /*box-sizing: border-box;*/
	margin-right: 10px;
	line-height: 32px;
	padding-left:10px;
}
.page_selector {
	margin: 10px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.page_selector > * {
	flex: 1 1 0;
}
.button	{
	color: #FDFEFE;
	width: auto;
	background-color: #145A32;
	min-width: 30px;
	height: 35px;
	margin: 0 1px;
	border-radius: 5px;
	padding: 0px 5px;
	line-height: 35px;
	user-select: none;
	-webkit-user-select: none;
}
.disabled {
	cursor: auto;
	background-color: #6f9e83;
}
.button:hover {
	background-color: #256B43;
	cursor: pointer;
}
.disabled:hover {
	cursor: auto;
	background-color: #6f9e83;
}
.large {
	flex-grow: 2;
}

.tips {
	text-align: left;
	line-height: 20px;
	width: 30%;
}
.tips > ul >li {
	margin-left: 15px;
	margin-bottom: 20px;
}

.question_resume {
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: lightgreen;
    padding: 8px;
    border-radius: 10px;
    margin: 15px 0px;
}
.question_resume > * {
	flex: 1 1 0;
}
.correct {
	background-color: #deffe8;
}
.empty {
	background-color: #eaeff7;
}
.wrong {
	background-color: #ffdede;
}
.question_resume > div >  img {
	height: 50px;
	width: auto;
}
.question_resume > span {
	margin-right: 10px;
	text-align: left;
}
.user_answer {
	text-align: center !important;
	background-color: rgb(255,255,255, 0.5);
	opacity: 50%;
	line-height: 35px;
	margin: 0px 25px 0px 25px !important;
	width: 100px;
	height: 35px;
	border-radius: 10px;
}